.sidebarChat{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

a{
    text-decoration: none !important;
    color: black;
}

.sidebarChat__info{
    margin-left: 10px;
}