.sidebarChat{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

a{
    text-decoration: none !important;
    color: black;
}

.sidebarChat__info{
    margin-left: 10px;
    flex: 1;
}

a.sidebarChat__active > div{
    background-color: #ebebeb;
}